page-storypoint {

}

ion-card.large {
    line-height: 80vh;
    text-align: center;
    background: cornflowerblue;
}

ion-card.large .card-title {
    font-size: 40vw;
    font-weight: bold;
    color: white;
}