page-home {
}

ion-card.storypoint-button {
    text-align: center;
    background: cornflowerblue;
    line-height: 5.0em;
}

.card-title {
    font-size: 2.0em;
    font-weight: bold;
    color: white;
}